<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/518632e6-eb8c-4176-8370-6dd13a8b4c9d/resourceGroups/QandA-Project-RG/providers/Microsoft.Web/sites/QandA-Net-8</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qanda-net-8-drdkb4axfqcdd6gr.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3a24c789-5341-4946-88e9-8d3eab20736c</ProjectGuid>
    <PublishUrl>https://qanda-net-8-drdkb4axfqcdd6gr.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$QandA-Net-8</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>