<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Налаштування MIME-типу для JSON, щоб уникнути 404 Not Found -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <!-- Правило для клієнтської маршрутизації React -->
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Ця умова має бути АКТИВНОЮ -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
             <!-- Виключаємо API-запити, якщо вони йдуть на цей же домен -->
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/(api|static)" negate="true" />
          </conditions>
          <!-- Перезаписуємо всі запити на index.html -->
          <action type="Rewrite" url="/index.html" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>